################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Repoman/FileContentIndex/063cf30c-751e-4517-a7b7-442b6ba5117c.vsidx
/.vs/Repoman/FileContentIndex/30036bad-571e-4fa6-b63a-cbd8475e2b88.vsidx
